@font-face {
    font-family: Dosis700;
    src: url("./font/dosis-v18-latin-700.woff") format("woff"), url("./font/dosis-v18-latin-700.woff2") format("woff2");
    font-weight: 700;
}
@font-face {
    font-family: DosisRegular;
    src: url("./font/dosis-v18-latin-regular.woff") format("woff"), url("./font/dosis-v18-latin-regular.woff2") format("woff2");
    font-weight: 400;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
background-attachment: fixed;
background-color: rgb(255, 255, 255);
background-image: linear-gradient(rgba(47, 23, 15, 0.65), rgba(47, 23, 15, 0.65)), url("/assets/pictures/background.jpg");
background-position: 50% 50%;
background-position-x: 50%;
background-position-y: 50%;
background-size: cover, cover;
overflow: hidden;
}

#container{
    margin-right: auto;
    margin-left: auto;
    position: relative;
    display: block;
    width: 80%;
}

#title{
    text-align: center;
    margin:1rem auto 2rem auto;
}

img{
    border: 1px solid black;
    width: 90%;
    height: 50%;
    align-self: center;
}

#project{
    color: #C4580E;
    font-family: Dosis700;
    font-size: 3rem;
}
#nesti{
    color: #01AF92;
    font-family: DosisRegular;
    font-size: 4rem;
}

#containerCard{
    position: relative;
    margin-left: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h4{
    font-family: DosisRegular;
    font-weight: bolder;
    font-size: 2rem;
}

.buttons{
    display: flex;
    justify-content: space-around;
}

button{
    border-radius: 100%;
    width: 50px;
    height: 50px;
    color: white;
    cursor: pointer;
}

button:hover{
    scale: 1.1;
}

.btnLeft{
    background-color: red;
    border: 1px solid red;
}
.btnRight{
    background-color: green;
    border:1px solid green;
}

.swipeLeft{
    animation: swipe-left 0.6s ease-in-out;
    z-index: 1; 
    opacity: 0.7; 
}

.swipeRight{
    animation: swipe-right 0.6s ease-in-out;
    z-index: 1; 
    opacity: 0.7; 
}
.card {
    position: absolute;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    border: 1px solid black;
    width: 15rem;
    height: 370px;
    top:0;
    
}

.currentCard{
    position: absolute;
    z-index: 10;
    opacity: 1;
}

.cardNext { 
    z-index: 5; 
    transform-origin: center;
    transform:rotate(4deg);
  }

  .thirdCard { 
    z-index: 4; 
    transform-origin: center;
    transform:rotate(-4deg);
  }
 

@keyframes swipe-left {
    0% { z-index: 25; transform: translateY(0px) rotate(-4deg); }
    50% { transform: translateX(-120%) rotate(-5deg) translateY(-40%); opacity: 0.7; }
    80% { z-index: 1; opacity: 0.4;}
    100% { transform: translateX(0%) rotate(0) translateY(0%) scale(0.95); opacity:0;visibility:hidden;} 
  }

  @keyframes swipe-right {
    0% { z-index: 25; transform: translateY(0px) rotate(4deg); }
    50% { transform: translateX(120%) rotate(5deg) translateY(-40%); opacity: 0.7; }
    80% { z-index: 1; opacity: 0.4; }
    100% { transform: translateX(0%) rotate(0) translateY(0%) scale(0.95); opacity: 0;visibility:hidden;}
  }