@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-attachment: fixed;
    background-color: rgb(255, 255, 255);
    background-image: linear-gradient(rgba(47, 23, 15, 0.65), rgba(47, 23, 15, 0.65)), url("/assets/pictures/background.jpg");
    background-position: 50% 50%;
    background-position-x: 50%;
    background-position-y: 50%;
    background-size: cover, cover;
}

#container {
    margin-right: auto;
    margin-left: auto;
    position: relative;
    display: flex;
    flex-direction: column;
}

#title {
    text-align: center;
    margin: 1rem auto 2rem auto;
}

#project {
    color: #ffffff;
    font-family: 'Sofia', cursive;
    font-size: 5rem;
    text-shadow: 2px 2px 4px #000000;
}

#nesti, #titleRecipe {
    color: #ffffff;
    font-family: 'Sofia', cursive;
    font-size: 5rem;
    text-shadow: 2px 2px 4px #000000;
}

.cardIngredient p {
    font-family: 'Sofia', cursive;
    font-size: 1.9rem;
}

button:hover {
    scale: 1.025;
}

.swipeLeft {
    animation: swipe-left 0.6s ease-in-out;
    z-index: 1;
    /* opacity: 0.7;*/
}

.swipeRight {
    animation: swipe-right 0.6s ease-in-out;
    z-index: 1;
    /*  opacity: 0;*/
}

.currentCard {
    position: absolute;
    z-index: 10;
    opacity: 1;
}

.cardNext {
    z-index: 5;
    transform-origin: center;
    transform: rotate(4deg);
}

.thirdCard {
    z-index: 4;
    transform-origin: center;
    transform: rotate(-4deg);
}

.currentCard,
.cardNext,
.thirdCard,
.fourthCard {
    box-shadow: 0px 2px 5px 0px #020202cc;
}

.pictureDiv {
    background-size: cover;
    background-position: center;
}

.cardIngredient {
    animation-fill-mode: forwards;
}

.cardIngredient button {
    height: 8vh;
    width: 5vw;
    border: 5px solid #0303031e;
    cursor: pointer;
}

#sentenceRecipesAvailable {
    font-family: 'Sofia', cursive;
    font-size: 1.9rem;
    text-shadow: 2px 2px 4px #000000;
}

@media (min-height: 800px) {
    #containerCard,
    #containerCard .cardIngredient {
        width: 18vw;
        height: 35vh;
    }
    .cardIngredient button {
        height: 3rem;
        width: 3rem;
    }
    .buttonDislike {
        font-size: 1.5rem;
    }
    .buttonLike {
        font-size: 1.5rem;
    }
}

@media (min-height: 1024px) {
    #containerCard,
    #containerCard .cardIngredient {
        width: 18vw;
        height: 35vh;
    }
    .cardIngredient button {
        height: 3.3rem;
        width: 3.3rem;
    }
    .buttonDislike {
        font-size: 1.5rem;
    }
    .buttonLike {
        font-size: 1.5rem;
    }
}

@media (min-width: 1280px) {
    #containerCard,
    #containerCard .cardIngredient {
        width: 18vw;
        height: 36vh;
    }
    .cardIngredient button {
        height: 3.4rem;
        width: 3.4rem;
    }
    .buttonDislike {
        font-size: 1.6rem;
    }
    .buttonLike {
        font-size: 1.6rem;
    }
}

@media (min-width: 1440px) {
    #containerCard,
    #containerCard .cardIngredient {
        width: 18vw;
        height: 40vh;
    }
    .cardIngredient button {
        height: 3.5rem;
        width: 3.5rem;
    }
    .buttonDislike {
        font-size: 1.9rem;
    }
    .buttonLike {
        font-size: 1.9rem;
    }
}

@media (min-width: 1600px) {
    #containerCard,
    #containerCard .cardIngredient {
        width: 18vw;
        height: 45vh;
    }
    .cardIngredient button {
        height: 4rem;
        width: 4rem;
    }
    .buttonDislike {
        font-size: 2.25rem;
    }
    .buttonLike {
        font-size: 2.25rem;
    }
}

@media (min-width: 1920px) {
    #containerCard,
    #containerCard .cardIngredient {
        width: 25rem;
        height: 35rem;
    }
    .cardIngredient button {
        height: 5rem;
        width: 5rem;
    }
    .buttonDislike {
        font-size: 3rem;
    }
    .buttonLike {
        font-size: 3rem;
    }
}

@keyframes swipe-left {
    0% {
        z-index: 100;
        transform: translateY(0px) rotate(-4deg);
    }
    50% {
        transform: translateX(-120%) rotate(-5deg) translateY(-40%);
        opacity: 0.7;
    }
    80% {
        opacity: 0.4;
    }
    100% {
        transform: translateX(0%) rotate(0) translateY(0%) scale(0.95);
        opacity: 0;
        z-index: -50;
    }
}

@keyframes swipe-right {
    0% {
        z-index: 100;
        transform: translateY(0px) rotate(4deg);
    }
    50% {
        transform: translateX(120%) rotate(5deg) translateY(-40%);
        opacity: 0.7;
    }
    80% {
        opacity: 0.4;
    }
    100% {
        transform: translateX(0%) rotate(0) translateY(0%) scale(0.95);
        opacity: 0;
        z-index: -50;
    }
}