/*************************************************** Import of the polcices **************************************************/

@import url('https://fonts.googleapis.com/css2?family=Sofia&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

/*************************************************** Style of the HTML part **************************************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-attachment: fixed;
    background-color: rgb(255, 255, 255);
    background-image: linear-gradient(rgba(47, 23, 15, 0.65), rgba(47, 23, 15, 0.65)), url("../assets/pictures/background.jpg");
    background-size: cover, cover;
    position: relative;
    display: flex;
    flex-direction: column;
}


/* Style of the different parts of the header */

#header {
    text-align: center;
    margin: 1rem auto 2rem auto;
}

#titleIngredient {
    color: #ffffff;
    font-family: 'Sofia', cursive;
    font-size: 5rem;
    text-shadow: 2px 2px 4px #000000;
}

#instructions {
    color: #ffffff;
    font-family: 'Noto', cursive;
    font-size: 1.4rem;
    text-shadow: 2px 2px 4px #000000;
}

#titleRecipe {
    color: #ffffff;
    font-family: 'Sofia', cursive;
    font-size: 5rem;
    text-shadow: 2px 2px 4px #000000;
}


/* Style of the different parts of the ingredient cards */

#containerIngredientCards, 
#containerIngredientCards .cardIngredient {
    width: 25rem;
    height: 30rem;
}

#containerIngredientCards .cardIngredient {
    background-color: #f7f7ea;
}

#containerRecipe .cardRecipe {
    width: 25rem;
    height: 30rem;
    box-shadow: 4px 5px 5px 1px #020202cc;
    background-color: #f7f7ea;
}

.cardRecipe:hover {
    scale: 1.025;
}


/* Style of the paragraphe inside the card*/

.cardRecipe p,
.cardIngredient p {
    font-family: 'Sofia', cursive;
    font-size: 1.9rem;
}


/* Style of the picture in each card */

.pictureDiv {
    background-size: cover;
    background-position: center;
}


/* Style of the bottom part of the cards : container buttons and child */

#containerButtons button {
    font-family: 'Noto', cursive;
    font-size: 1.4rem;
    box-shadow: 4px 5px 5px 1px #020202ad;
}

.cardIngredient button {
    height: 6rem;
    width: 6rem;
    border: 5px solid #03030338;
    cursor: pointer;
}

button:hover {
    scale: 1.025;
}


/* Style of the dislike buttons */

.buttonDislike {
    font-size: 4rem;
}

.iconDislike {
    bottom: 0.65rem;
}


/* Style of the like buttons */

.buttonLike {
    font-size: 4rem;
}

.iconLike {
    bottom: 0.4rem;
}


/* Style of the footer */

footer {
    color: #ffffff;
    font-size: 1.10rem;
    background-color: #8a8a8a38;
}


/*************************************************** Style of the Javascript part ***************************************************/

.currentCard {
    position: absolute;
    z-index: 10;
    opacity: 1;
}

.cardNext {
    z-index: 5;
    transform-origin: center;
    transform: rotate(4deg);
}

.thirdCard {
    z-index: 4;
    transform-origin: center;
    transform: rotate(-4deg);
}

.currentCard,
.cardNext,
.thirdCard,
.fourthCard {
    box-shadow: 4px 5px 5px 1px #020202b0;
}

#sentenceRecipesAvailable {
    font-family: 'Noto', cursive;
    font-size: 1.7rem;
    text-shadow: 2px 2px 4px #000000;
}


/* Amination for the swipe to the left */

.swipeLeft {
    animation: swipe-left 0.6s ease-in-out;
    z-index: 1;
}


/* Amination for the swipe to the right */

.swipeRight {
    animation: swipe-right 0.6s ease-in-out;
    z-index: 1;
}


/* Keyframes for the left transition */

@keyframes swipe-left {
    0% {
        z-index: 100;
        transform: translateY(0px) rotate(-4deg);
    }
    50% {
        transform: translateX(-120%) rotate(-5deg) translateY(-40%);
        opacity: 0.7;
    }
    80% {
        opacity: 0.4;
    }
    100% {
        transform: translateX(0%) rotate(0) translateY(0%) scale(0.95);
        opacity: 0;
        z-index: -50;
    }
}


/* Keyframes for the right transition */

@keyframes swipe-right {
    0% {
        z-index: 100;
        transform: translateY(0px) rotate(4deg);
    }
    50% {
        transform: translateX(120%) rotate(5deg) translateY(-40%);
        opacity: 0.7;
    }
    80% {
        opacity: 0.4;
    }
    100% {
        transform: translateX(0%) rotate(0) translateY(0%) scale(0.95);
        opacity: 0;
        z-index: -50;
    }
}

.cardIngredient {
    animation-fill-mode: forwards;
}
